{% extends "base.html" %}
{% load static %}

{% block extraheadings %}
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js"></script>
  <link href="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js"></script>
  <style>
    div.faq {
        background: white;
        border: solid 1px #e2e2e2;
        padding: 5px 0px 0px 10px;
        color: #666;
        margin: 0px 0px 5px 0px;
        min-height: 125px;
    }
    div.faq .title {
        font-size: 1.2em;
        font-weight: bold;
    }
    div.faq .ficon {
        margin-right: 10px;
        font-size: 2em;
    }
  </style>
{% endblock %}

{% block nav %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={% url 'proxy:index' %}>
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" id="cust-name" href={% url 'proxy:index' %}>WRMS Dashboard</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          {% if not min_reached %}
          <li><a href="{% url 'proxy:dashboard' client=client month=prev_month %}" id="period-prev">
            <span class="glyphicon glyphicon-backward"></span>
          </a></li>
          {% endif %}
          <li><a href="{% url 'proxy:dashboard' client=client month=month %}" id="period-current" style="font-weight:bold;">Current month</a></li>
          <li><a href="{% url 'proxy:dashboard' client=client month=next_month %}" id="period-next">
            <span class="glyphicon glyphicon-forward"></span>
          </a></li>
          <li><a id="cust-system" href="#" target="_blank">Kanban board</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" id="cust-name" href="/accounts/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7">
        <div class="faq">
          <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "new requests" blocks:</span>
          <ul>
            <li>Only includes WRs raised this calendar month</li>
            <li>Includes all statuses, i.e. even Finished or Cancelled WRs</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="faq">
          <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "Pending quotes" block:</span>
          <ul>
            <li>Shows quotes not yet approved</li>
            <li>Ignores expired quotes (1 month)</li>
            <li>Shows both SLA and Additional quotes</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">New requests for PERIOD</div>
          <div class="chart-stage"><div id="chart-06"></div></div>
          <div class="chart-notes">All statuses</div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">New requests for PERIOD</div>
          <div class="chart-stage"><div id="chart-13"></div></div>
          <div class="chart-notes">All statuses</div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">Pending quotes</div>
          <div class="chart-stage"><div id="chart-01"></div></div>
          <div id="chart-01-notes" class="chart-notes">Includes SLA and Additional quotes</div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">Remaining hours for PERIOD</div>
          <div class="chart-stage"><div id="chart-15"></div></div>
          <div id="chart-15-notes" class="chart-notes">Monthly SLA budget</div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "Approved SLA quotes" block:</span>
            <ul>
              <li>Funded by monthly SLA hours</li>
              <li>Only includes approved quotes</li>
              <li>Includes all tickets, not just those raised this month</li>
            </ul>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "Unquoted SLA hours" block:</span>
            <ul>
              <li>Funded by monthly SLA hours</li>
              <li>Only WRs that don't have approved quotes in <em>any</em> month</li>
              <li>Excludes tickets with the "Warranty" tag</li>
            </ul>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "Additional quotes" block:</span>
            <ul>
              <li>Invoiced separately to monthly SLA</li>
              <li>Only includes approved quotes</li>
              <li>Includes all tickets, not just those raised this month</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">Approved SLA quotes for PERIOD</div>
              <div class="chart-stage"><div id="chart-02"></div></div>
              <div class="chart-notes">Only includes quotes specifically allocated to this period</div>
            </div>
      </div>

      <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">Unquoted SLA hours for PERIOD</div>
              <div class="chart-stage"><div id="chart-14"></div></div>
              <div class="chart-notes">Excludes warranty tickets</div>
            </div>
      </div>

      <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">Approved additional quotes for PERIOD</div>
              <div class="chart-stage"><div id="chart-03"></div></div>
              <div class="chart-notes">Excludes On Hold or Parked, includes quotes with no explicit month designation</div>
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About "response times" block:</span>
            <ul>
              <li>"Response" means adding a note, changing a status, etc.</li>
              <li>Non-critical times are measured only within business hours</li>
            </ul>
          </div>
      </div>

      <div class="col-sm-9">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About the "Severity" and "Status" blocks:</span>
            <ul>
              <li>These blocks provide an overview of your present-day WRMS statistics, not restricted to WRs raised in this period</li>
              <li>Only Finished, Cancelled and Ongoing Maintenance WRs are excluded - all others are shown, even including Blocked, On Hold and For Sign Off</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">95% percentile SLA response times for PERIOD (hours)</div>
              <div class="chart-stage"><div id="chart-08"></div></div>
              <div class="chart-notes">Excludes Cancelled, Parked and On Hold</div>
            </div>
      </div>

      <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">Severity (all open WRs, present day)</div>
              <div class="chart-stage"><div id="chart-04"></div></div>
              <div class="chart-notes">Excludes Finished, Cancelled and Ongoing Maintenance</div>
            </div>
      </div>

      <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">Statuses (all open WRs, present day)</div>
              <div class="chart-stage"><div id="chart-05"></div></div>
              <div class="chart-notes">Excludes Finished, Cancelled and Ongoing Maintenance</div>
            </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">Open WR count over time</div>
          <div class="chart-stage"><div id="chart-11"></div></div>
          <div class="chart-notes">Excludes Finished, Cancelled, On Hold, Blocked, Parked and Ongoing Maintenance</div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">Deployments for PERIOD</div>
          <div class="chart-stage"><div id="chart-12"></div></div>
          <div class="chart-notes">&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About the "Availability" and "Storage" blocks:</span>
            <ul>
              <li>These statistics come from our Icinga monitoring system</li>
              <li>Some sites have not yet had their stats integrated to this dashboard</li>
              <li>Any incident reports will provide additional detail beyond the estimates shown here</li>
            </ul>
          </div>
      </div>

      <div class="col-sm-6">
          <div class="faq">
            <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">About the "Users" block:</span>
            <ul>
              <li>Only shown for sites with the Active Users analytics plugin installed</li>
              <li>Measures the number of users who have logged in within the past 12 months from present day (not from the period shown above)</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">Availability for PERIOD</div>
              <div class="chart-stage"><div id="chart-07"></div></div>
              <div class="chart-notes" id="avail-notes">Production environment</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">Storage used (present day)</div>
              <div class="chart-stage"><div id="chart-09"></div></div>
              <div class="chart-notes" id="storage-notes">Production environment</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">Active users (present day)</div>
              <div class="chart-stage"><div id="chart-10"></div></div>
              <div class="chart-notes">Production env. for past 12 months</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <img style="margin-left:5%;margin-top:10px;margin-bottom:10px;" height="303px" width="auto" id="gopher">
            </div>
          </div>
    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a> and <a href="https://catalyst-eu.net">Catalyst</a></p>

  </div>

  <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

  <script type="text/javascript" src="{% static "holder.js" %}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="{% static "common.js" %}"></script>
  <script type="text/javascript" src="{% static "dash.js" %}"></script>

{% endblock %}
