{% extends "base.html" %}
{% load static %}

{% block nav %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/admin/">Admin</a></li>
          <li><a class="navbar-brand" href="/omnitool/">Omnitool</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" id="cust-name" href="/accounts/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <style>
    a:hover {
        text-decoration: none;
    }
    .index-tile {
        text-align: center;
        font-size: 25px;
        line-height: 150px;
        height: 150px;
        color: #f3f3f3;
    }
    .green {
        background-color: #73d483;
    }
    .yellow {
        background-color: #eeb058;
    }
    .red {
        background-color: #fe6672;
    }
    .blue {
        background-color: #00bbde;
    }

  </style>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a> and <a href="https://catalyst-eu.net">Catalyst IT</a></p>

  </div>

  <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

  <script type="text/javascript" src="{% static "holder.js" %}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="{% static "common.js" %}"></script>
  <script type="text/javascript" src="{% static "index.js" %}"></script>

{% endblock %}
