{% extends "base.html" %}
{% load static %}

{% block extraheadings %}
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js"></script>
  <link href="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js"></script>
  <style>
    div.faq {
        background: white;
        border: solid 1px #e2e2e2;
        padding: 5px 0px 0px 10px;
        color: #666;
        margin: 0px 0px 5px 0px;
        min-height: 125px;
    }
    div.faq .title {
        font-size: 1.2em;
        font-weight: bold;
    }
    div.faq .ficon {
        margin-right: 10px;
        font-size: 2em;
    }
  </style>
{% endblock %}

{% block nav %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={% url 'proxy:index' %}>
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" id="cust-name" href={% url 'proxy:index' %}>WRMS Dashboard</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/admin/">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="/accounts/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">Additional quotes not yet invoiced</div>
          <div class="chart-stage"><div id="chart-01"></div></div>
          <div id="chart-01-notes" class="chart-notes">Includes all WR statuses.</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">Invoicing history</div>
          <div class="chart-stage"><div id="chart-05"></div></div>
          <div id="chart-05-notes" class="chart-notes">Current financial year.</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">Additional WRs with no quotes</div>
          <div class="chart-stage"><div id="chart-03"></div></div>
          <div id="chart-03-notes" class="chart-notes">Excludes Cancelled WRs.</div>
        </div>
      </div>

      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">Sysadmin WRs</div>
          <div class="chart-stage"><div id="chart-02"></div></div>
          <div id="chart-02-notes" class="chart-notes">Only new requests</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">Current SLA budgets</div>
          <div class="chart-stage"><div id="chart-04"></div></div>
          <div id="chart-04-notes" class="chart-notes">SLA hours remaining (matches index page.)</div>
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a> and <a href="https://catalyst-eu.net">Catalyst IT</a></p>

  </div>

  <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

  <script type="text/javascript" src="{% static "holder.js" %}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="{% static "common.js" %}"></script>
  <script type="text/javascript" src="{% static "omnitool.js" %}"></script>

{% endblock %}
