{% extends "base.html" %}
{% load static %}

{% block extraheadings %}
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js"></script>
  <link href="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
  <script src="//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js"></script>
  <style>
    div.basic {
        background: white;
        border: solid 1px #e2e2e2;
        padding: 5px 0px 0px 10px;
        color: #666;
        margin: 0px 0px 5px 0px;
    }
    div.faq {
        min-height: 125px;
    }
    div.section {
        min-height: 60px;
        line-height: 60px;
    }
    div.section select {
      margin-top: 10px;
      padding: 5px;
      background-color: #f3f3f3;
      color: #666;
    }
    div.section .title,
    div.faq .title {
        font-size: 1.2em;
        font-weight: bold;
    }
    div.faq .ficon {
        margin-right: 10px;
        font-size: 2em;
    }
  </style>
{% endblock %}

{% block nav %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={% url 'proxy:index' %}>
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" id="cust-name" href={% url 'proxy:index' %}>WRMS Dashboard</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/admin/">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="/accounts/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">

        <div class="basic section">
          <span class="title">Comparison of client-visible time to actual time worked for:</span>
          <select id="client-select">
            <option selected>All contracts</option>
          </select>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-4"> <!-- inner row container -->

        <div class="row">

          <div class="col-sm-12">
            <div class="basic faq">
              <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">Basic SLA hours comparison:</span>
              <ul>
                <li>Committed: The hours we said we'd work, as seen on client dash</li>
                <li>Actual: The hours timesheeted to those WRs in each month</li>
                <li>Budget: The hours available in the contract per CRM's "SLA hours" field</li>
              </ul>
            </div>
          </div>

        </div> <!-- top inner row -->

        <div class="row">

          <div class="col-sm-12">

            <div class="chart-wrapper">
              <div class="chart-stage"><div id="chart-08"></div></div>
              <div id="chart-08-notes" class="chart-notes">1 FTE = 8 hours/day for 21.16 days/month (169 hours)</div>
            </div>

          </div> <!-- metric -->

        </div> <!-- bottom inner row -->

      </div> <!-- inner row container -->

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div id="chart-06-title" class="chart-title">Hours per month of visible SLA time (total)</div>
          <div class="chart-stage"><div id="chart-06"></div></div>
          <div id="chart-06-notes" class="chart-notes">&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4"> <!-- inner row container -->

        <div class="row">

          <div class="col-sm-12">
            <div class="basic faq">
              <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">Full SLA hours comparison:</span>
              <ul>
                <li>Actual: timesheet hours on SLA, Maintenance and Warranty WRs</li>
                <li>Budget: Contract value as hours (monthly fee/hourly rate)</li>
              </ul>
              Ignores infrastructure costs an non-dashboard systems like BD and hosting.
            </div>
          </div>

        </div> <!-- top inner row -->

        <div class="row">

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-stage"><div id="chart-10"></div></div>
              <div id="chart-10-notes" class="chart-notes">1 FTE = 8 hours/day for 21.16 days/month (169 hours)</div>
            </div>
          </div>

        </div> <!-- bottom inner row -->

      </div> <!-- inner row container -->

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div id="chart-11-title" class="chart-title">Combined visible plus internal SLA time each month (total)</div>
          <div class="chart-stage"><div id="chart-11"></div></div>
          <div id="chart-11-notes" class="chart-notes">&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4"> <!-- inner row container -->

        <div class="row">

          <div class="col-sm-12">
            <div class="basic faq">
              <span class="glyphicon glyphicon-stats ficon"></span> <span class="title">Additional hours comparison:</span>
              <ul>
                <li>Actual: Timesheets on WRs tagged Additional</li>
                <li>Budget: Quotes on Additional WRs</li>
              </ul>
              &nbsp;
            </div>
          </div>

        </div> <!-- top inner row -->

        <div class="row">

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-stage"><div id="chart-09"></div></div>
              <div id="chart-09-notes" class="chart-notes">1 FTE = 8 hours/day for 21.16 days/month (169 hours)</div>
            </div>
          </div>

        </div> <!-- bottom inner row -->

      </div> <!-- inner row container -->

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div id="chart-07-title" class="chart-title">Additional hours vs. quotes each month (total)</div>
          <div class="chart-stage"><div id="chart-07"></div></div>
          <div id="chart-07-notes" class="chart-notes">&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">

        <div class="basic section">
          <span class="title">Big-picture client profitability, ignoring WR systems and tags</span>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">All client timesheets vs. invoicing</div>
          <div class="chart-stage"><div id="chart-12"></div></div>
          <div id="chart-12-notes" class="chart-notes">SLA contract fees (as hours using contract rate) vs. Odoo MIS report sales (as hours assuming avg. £85/hour) vs. all client timesheets, including non-dashboard systems</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-2">
        <div class="basic faq">
          <span class="glyphicon glyphicon-stats ficon"></span> <span id="invoicing_section_title" class="title">PERIOD comparison:</span>
          We hope to see correlation between the amount of time spent (left) and billed (right) for each client.
        </div>
      </div>

      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div id="chart-13-title" class="chart-title">Hours by client</div>
          <div class="chart-stage"><div id="chart-13"></div></div>
          <div id="chart-13-notes" class="chart-notes">All timesheets, ignoring quotes and systems</div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div id="chart-14-title" class="chart-title">Invoices by client</div>
          <div class="chart-stage"><div id="chart-14"></div></div>
          <div id="chart-14-notes" class="chart-notes">Currencies normalised by standard hourly rates</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">

        <div class="basic section">
          <span class="title">Checks for WRs that are in a dangerous state:</span>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">Additional quotes not yet invoiced</div>
          <div class="chart-stage"><div id="chart-01"></div></div>
          <div id="chart-01-notes" class="chart-notes">Includes all WR statuses.</div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">Additional WRs with no quotes</div>
          <div class="chart-stage"><div id="chart-03"></div></div>
          <div id="chart-03-notes" class="chart-notes">Excludes Cancelled WRs.</div>
        </div>
      </div>

    </div>

    <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a> and <a href="https://catalyst-eu.net">Catalyst IT</a></p>

  </div>

  <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap.min.js" %}"></script>

  <script type="text/javascript" src="{% static "holder.js" %}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="{% static "common.js" %}"></script>
  <script type="text/javascript" src="{% static "omnitool.js" %}"></script>

{% endblock %}
