{
    "db": {
        "user": "wrms_readonly",
        "database": "wrms",
        "password": "",
        "host": "db.example.com",
        "port": 5432
    },
    "server": {
        "version": "1.0.0",
        "listen_port": 80,
        "wrms_details": {
            "user_id": 4089,
            "exclude_orgs": "37,1098",
            "free_presales": true
        }
    },
    "icinga_uri": "icinga.example.com",
    "orgs": {
        "__vendor": {
            "id": 777,
            "budget_hours": 0,
            "default_system": "1"
        },
        "AcmeCo": {
            "id": 1,
            "tz": "Europe/London",
            "budget_hours": 20,
            "availability": "host=elb-1&service=backend-count",
            "storage": "host=fs1&service=Check+disk+space",
            "storage_pattern": "(sitedata)=(\\d+)MB",
            "default_system": "1000",
            "users": {
                "hostname": "moodle.example.com",
                "token": "1234567890abcdef1234567890abcdef"
            }
        }
    }
}
