{
    "db": {
        "user": "wrms_readonly",
        "database": "wrms",
        "password": "",
        "host": "db.example.com",
        "port": 5432
    },
    "espo": {
        "host": "https://espo.example.com",
        "auth": "my-base64-password",
        "enabled": true
    },
    "metadata": {
        "host": "https://metadata.example.com"
    },
    "sync": {
        "startup_delay_secs": 2,
        "poll_interval_secs": 300
    },
    "server": {
        "version": "1.0.0",
        "listen_port": 80,
        "wrms_details": {
            "user_id": 4089,
            "exclude_orgs": "37,1098"
        }
    },
    "icinga": {
        "enabled": true,
        "hostname": "icinga.example.com"
    },
    "contracts": [
        {
            "org_id": 1137,
            "org_name": "__vendor",
            "name": "__vendor",
            "type": "monthly",
            "hours": 0,
            "start_date": "1 October 2008",
            "end_date": "31 October 2008",
            "systems": [ 1661, 1416, 1359, 2664 ]
        }
    ]
}
